body {
  font-family: Arial;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  background: #f4f4f4;
}

.container {
  background: white;
  padding: 30px;
  border-radius: 10px;
  width: 400px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

form {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px;
  border: none;
  background: #007BFF;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #0056b3;
}

#task-list li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.delete-btn {
  background: red;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
